{% extends 'home.html' %}


{% block content %}
 <h2> Get Marijuana Recomendations </h2>
 <form action="/recomendations" class="form-inline my-2 my-lg-0" method="POST">
    <input class="form-control mr-sm-2" name="input" style="width:400px; height:auto" type="text" placeholder="Enter How You're Feeling">
    <button class="btn btn-success my-2 my-sm-0" type="submit" >Let's Toke</button>

 </form>

<li>
    <h3>Search examples:</h3>
</li>
<li>
    <h4>"I feel Great Today"</h4><br>
    <h4>"Good with wine"</h4><br>
    <h4>"I wanna Workout"</h4><br>
    <h4>"lemons and berrys"</h4><br>
    <h4>"Daytime creativity"</h4>
</li>
{% endblock %}

